/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-block-nine-1-name: 'sprite-block-nine-1';
$sprite-block-nine-1-x: 280px;
$sprite-block-nine-1-y: 0px;
$sprite-block-nine-1-offset-x: -280px;
$sprite-block-nine-1-offset-y: 0px;
$sprite-block-nine-1-width: 65px;
$sprite-block-nine-1-height: 68px;
$sprite-block-nine-1-total-width: 384px;
$sprite-block-nine-1-total-height: 353px;
$sprite-block-nine-1-image: '../img/sprite.png';
$sprite-block-nine-1: (280px, 0px, -280px, 0px, 65px, 68px, 384px, 353px, '../img/sprite.png', 'sprite-block-nine-1', );
$sprite-block-nine-2-name: 'sprite-block-nine-2';
$sprite-block-nine-2-x: 201px;
$sprite-block-nine-2-y: 101px;
$sprite-block-nine-2-offset-x: -201px;
$sprite-block-nine-2-offset-y: -101px;
$sprite-block-nine-2-width: 67px;
$sprite-block-nine-2-height: 67px;
$sprite-block-nine-2-total-width: 384px;
$sprite-block-nine-2-total-height: 353px;
$sprite-block-nine-2-image: '../img/sprite.png';
$sprite-block-nine-2: (201px, 101px, -201px, -101px, 67px, 67px, 384px, 353px, '../img/sprite.png', 'sprite-block-nine-2', );
$sprite-block-nine-3-name: 'sprite-block-nine-3';
$sprite-block-nine-3-x: 0px;
$sprite-block-nine-3-y: 194px;
$sprite-block-nine-3-offset-x: 0px;
$sprite-block-nine-3-offset-y: -194px;
$sprite-block-nine-3-width: 88px;
$sprite-block-nine-3-height: 53px;
$sprite-block-nine-3-total-width: 384px;
$sprite-block-nine-3-total-height: 353px;
$sprite-block-nine-3-image: '../img/sprite.png';
$sprite-block-nine-3: (0px, 194px, 0px, -194px, 88px, 53px, 384px, 353px, '../img/sprite.png', 'sprite-block-nine-3', );
$sprite-block-nine-4-name: 'sprite-block-nine-4';
$sprite-block-nine-4-x: 280px;
$sprite-block-nine-4-y: 68px;
$sprite-block-nine-4-offset-x: -280px;
$sprite-block-nine-4-offset-y: -68px;
$sprite-block-nine-4-width: 64px;
$sprite-block-nine-4-height: 64px;
$sprite-block-nine-4-total-width: 384px;
$sprite-block-nine-4-total-height: 353px;
$sprite-block-nine-4-image: '../img/sprite.png';
$sprite-block-nine-4: (280px, 68px, -280px, -68px, 64px, 64px, 384px, 353px, '../img/sprite.png', 'sprite-block-nine-4', );
$sprite-block-seven-left-name: 'sprite-block-seven-left';
$sprite-block-seven-left-x: 0px;
$sprite-block-seven-left-y: 310px;
$sprite-block-seven-left-offset-x: 0px;
$sprite-block-seven-left-offset-y: -310px;
$sprite-block-seven-left-width: 43px;
$sprite-block-seven-left-height: 43px;
$sprite-block-seven-left-total-width: 384px;
$sprite-block-seven-left-total-height: 353px;
$sprite-block-seven-left-image: '../img/sprite.png';
$sprite-block-seven-left: (0px, 310px, 0px, -310px, 43px, 43px, 384px, 353px, '../img/sprite.png', 'sprite-block-seven-left', );
$sprite-block-seven-right-name: 'sprite-block-seven-right';
$sprite-block-seven-right-x: 345px;
$sprite-block-seven-right-y: 100px;
$sprite-block-seven-right-offset-x: -345px;
$sprite-block-seven-right-offset-y: -100px;
$sprite-block-seven-right-width: 35px;
$sprite-block-seven-right-height: 35px;
$sprite-block-seven-right-total-width: 384px;
$sprite-block-seven-right-total-height: 353px;
$sprite-block-seven-right-image: '../img/sprite.png';
$sprite-block-seven-right: (345px, 100px, -345px, -100px, 35px, 35px, 384px, 353px, '../img/sprite.png', 'sprite-block-seven-right', );
$sprite-block-six-1-name: 'sprite-block-six-1';
$sprite-block-six-1-x: 0px;
$sprite-block-six-1-y: 98px;
$sprite-block-six-1-offset-x: 0px;
$sprite-block-six-1-offset-y: -98px;
$sprite-block-six-1-width: 89px;
$sprite-block-six-1-height: 96px;
$sprite-block-six-1-total-width: 384px;
$sprite-block-six-1-total-height: 353px;
$sprite-block-six-1-image: '../img/sprite.png';
$sprite-block-six-1: (0px, 98px, 0px, -98px, 89px, 96px, 384px, 353px, '../img/sprite.png', 'sprite-block-six-1', );
$sprite-block-six-2-name: 'sprite-block-six-2';
$sprite-block-six-2-x: 0px;
$sprite-block-six-2-y: 0px;
$sprite-block-six-2-offset-x: 0px;
$sprite-block-six-2-offset-y: 0px;
$sprite-block-six-2-width: 92px;
$sprite-block-six-2-height: 98px;
$sprite-block-six-2-total-width: 384px;
$sprite-block-six-2-total-height: 353px;
$sprite-block-six-2-image: '../img/sprite.png';
$sprite-block-six-2: (0px, 0px, 0px, 0px, 92px, 98px, 384px, 353px, '../img/sprite.png', 'sprite-block-six-2', );
$sprite-block-six-3-name: 'sprite-block-six-3';
$sprite-block-six-3-x: 201px;
$sprite-block-six-3-y: 0px;
$sprite-block-six-3-offset-x: -201px;
$sprite-block-six-3-offset-y: 0px;
$sprite-block-six-3-width: 79px;
$sprite-block-six-3-height: 101px;
$sprite-block-six-3-total-width: 384px;
$sprite-block-six-3-total-height: 353px;
$sprite-block-six-3-image: '../img/sprite.png';
$sprite-block-six-3: (201px, 0px, -201px, 0px, 79px, 101px, 384px, 353px, '../img/sprite.png', 'sprite-block-six-3', );
$sprite-block-six-4-name: 'sprite-block-six-4';
$sprite-block-six-4-x: 92px;
$sprite-block-six-4-y: 0px;
$sprite-block-six-4-offset-x: -92px;
$sprite-block-six-4-offset-y: 0px;
$sprite-block-six-4-width: 109px;
$sprite-block-six-4-height: 79px;
$sprite-block-six-4-total-width: 384px;
$sprite-block-six-4-total-height: 353px;
$sprite-block-six-4-image: '../img/sprite.png';
$sprite-block-six-4: (92px, 0px, -92px, 0px, 109px, 79px, 384px, 353px, '../img/sprite.png', 'sprite-block-six-4', );
$sprite-block-six-5-name: 'sprite-block-six-5';
$sprite-block-six-5-x: 89px;
$sprite-block-six-5-y: 98px;
$sprite-block-six-5-offset-x: -89px;
$sprite-block-six-5-offset-y: -98px;
$sprite-block-six-5-width: 98px;
$sprite-block-six-5-height: 83px;
$sprite-block-six-5-total-width: 384px;
$sprite-block-six-5-total-height: 353px;
$sprite-block-six-5-image: '../img/sprite.png';
$sprite-block-six-5: (89px, 98px, -89px, -98px, 98px, 83px, 384px, 353px, '../img/sprite.png', 'sprite-block-six-5', );
$sprite-ico-dl-name: 'sprite-ico-dl';
$sprite-ico-dl-x: 345px;
$sprite-ico-dl-y: 199px;
$sprite-ico-dl-offset-x: -345px;
$sprite-ico-dl-offset-y: -199px;
$sprite-ico-dl-width: 18px;
$sprite-ico-dl-height: 25px;
$sprite-ico-dl-total-width: 384px;
$sprite-ico-dl-total-height: 353px;
$sprite-ico-dl-image: '../img/sprite.png';
$sprite-ico-dl: (345px, 199px, -345px, -199px, 18px, 25px, 384px, 353px, '../img/sprite.png', 'sprite-ico-dl', );
$sprite-ico-vk-name: 'sprite-ico-vk';
$sprite-ico-vk-x: 345px;
$sprite-ico-vk-y: 170px;
$sprite-ico-vk-offset-x: -345px;
$sprite-ico-vk-offset-y: -170px;
$sprite-ico-vk-width: 29px;
$sprite-ico-vk-height: 29px;
$sprite-ico-vk-total-width: 384px;
$sprite-ico-vk-total-height: 353px;
$sprite-ico-vk-image: '../img/sprite.png';
$sprite-ico-vk: (345px, 170px, -345px, -170px, 29px, 29px, 384px, 353px, '../img/sprite.png', 'sprite-ico-vk', );
$sprite-service-block-1-name: 'sprite-service-block-1';
$sprite-service-block-1-x: 43px;
$sprite-service-block-1-y: 310px;
$sprite-service-block-1-offset-x: -43px;
$sprite-service-block-1-offset-y: -310px;
$sprite-service-block-1-width: 44px;
$sprite-service-block-1-height: 31px;
$sprite-service-block-1-total-width: 384px;
$sprite-service-block-1-total-height: 353px;
$sprite-service-block-1-image: '../img/sprite.png';
$sprite-service-block-1: (43px, 310px, -43px, -310px, 44px, 31px, 384px, 353px, '../img/sprite.png', 'sprite-service-block-1', );
$sprite-service-block-2-name: 'sprite-service-block-2';
$sprite-service-block-2-x: 281px;
$sprite-service-block-2-y: 247px;
$sprite-service-block-2-offset-x: -281px;
$sprite-service-block-2-offset-y: -247px;
$sprite-service-block-2-width: 48px;
$sprite-service-block-2-height: 36px;
$sprite-service-block-2-total-width: 384px;
$sprite-service-block-2-total-height: 353px;
$sprite-service-block-2-image: '../img/sprite.png';
$sprite-service-block-2: (281px, 247px, -281px, -247px, 48px, 36px, 384px, 353px, '../img/sprite.png', 'sprite-service-block-2', );
$sprite-service-block-3-name: 'sprite-service-block-3';
$sprite-service-block-3-x: 345px;
$sprite-service-block-3-y: 135px;
$sprite-service-block-3-offset-x: -345px;
$sprite-service-block-3-offset-y: -135px;
$sprite-service-block-3-width: 34px;
$sprite-service-block-3-height: 35px;
$sprite-service-block-3-total-width: 384px;
$sprite-service-block-3-total-height: 353px;
$sprite-service-block-3-image: '../img/sprite.png';
$sprite-service-block-3: (345px, 135px, -345px, -135px, 34px, 35px, 384px, 353px, '../img/sprite.png', 'sprite-service-block-3', );
$sprite-services-list-1-a-name: 'sprite-services-list-1-a';
$sprite-services-list-1-a-x: 69px;
$sprite-services-list-1-a-y: 247px;
$sprite-services-list-1-a-offset-x: -69px;
$sprite-services-list-1-a-offset-y: -247px;
$sprite-services-list-1-a-width: 69px;
$sprite-services-list-1-a-height: 63px;
$sprite-services-list-1-a-total-width: 384px;
$sprite-services-list-1-a-total-height: 353px;
$sprite-services-list-1-a-image: '../img/sprite.png';
$sprite-services-list-1-a: (69px, 247px, -69px, -247px, 69px, 63px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-1-a', );
$sprite-services-list-1-name: 'sprite-services-list-1';
$sprite-services-list-1-x: 0px;
$sprite-services-list-1-y: 247px;
$sprite-services-list-1-offset-x: 0px;
$sprite-services-list-1-offset-y: -247px;
$sprite-services-list-1-width: 69px;
$sprite-services-list-1-height: 63px;
$sprite-services-list-1-total-width: 384px;
$sprite-services-list-1-total-height: 353px;
$sprite-services-list-1-image: '../img/sprite.png';
$sprite-services-list-1: (0px, 247px, 0px, -247px, 69px, 63px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-1', );
$sprite-services-list-2-a-name: 'sprite-services-list-2-a';
$sprite-services-list-2-a-x: 136px;
$sprite-services-list-2-a-y: 194px;
$sprite-services-list-2-a-offset-x: -136px;
$sprite-services-list-2-a-offset-y: -194px;
$sprite-services-list-2-a-width: 48px;
$sprite-services-list-2-a-height: 43px;
$sprite-services-list-2-a-total-width: 384px;
$sprite-services-list-2-a-total-height: 353px;
$sprite-services-list-2-a-image: '../img/sprite.png';
$sprite-services-list-2-a: (136px, 194px, -136px, -194px, 48px, 43px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-2-a', );
$sprite-services-list-2-name: 'sprite-services-list-2';
$sprite-services-list-2-x: 88px;
$sprite-services-list-2-y: 194px;
$sprite-services-list-2-offset-x: -88px;
$sprite-services-list-2-offset-y: -194px;
$sprite-services-list-2-width: 48px;
$sprite-services-list-2-height: 43px;
$sprite-services-list-2-total-width: 384px;
$sprite-services-list-2-total-height: 353px;
$sprite-services-list-2-image: '../img/sprite.png';
$sprite-services-list-2: (88px, 194px, -88px, -194px, 48px, 43px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-2', );
$sprite-services-list-3-a-name: 'sprite-services-list-3-a';
$sprite-services-list-3-a-x: 280px;
$sprite-services-list-3-a-y: 180px;
$sprite-services-list-3-a-offset-x: -280px;
$sprite-services-list-3-a-offset-y: -180px;
$sprite-services-list-3-a-width: 44px;
$sprite-services-list-3-a-height: 48px;
$sprite-services-list-3-a-total-width: 384px;
$sprite-services-list-3-a-total-height: 353px;
$sprite-services-list-3-a-image: '../img/sprite.png';
$sprite-services-list-3-a: (280px, 180px, -280px, -180px, 44px, 48px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-3-a', );
$sprite-services-list-3-name: 'sprite-services-list-3';
$sprite-services-list-3-x: 280px;
$sprite-services-list-3-y: 132px;
$sprite-services-list-3-offset-x: -280px;
$sprite-services-list-3-offset-y: -132px;
$sprite-services-list-3-width: 44px;
$sprite-services-list-3-height: 48px;
$sprite-services-list-3-total-width: 384px;
$sprite-services-list-3-total-height: 353px;
$sprite-services-list-3-image: '../img/sprite.png';
$sprite-services-list-3: (280px, 132px, -280px, -132px, 44px, 48px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-3', );
$sprite-services-list-4-a-name: 'sprite-services-list-4-a';
$sprite-services-list-4-a-x: 184px;
$sprite-services-list-4-a-y: 194px;
$sprite-services-list-4-a-offset-x: -184px;
$sprite-services-list-4-a-offset-y: -194px;
$sprite-services-list-4-a-width: 53px;
$sprite-services-list-4-a-height: 37px;
$sprite-services-list-4-a-total-width: 384px;
$sprite-services-list-4-a-total-height: 353px;
$sprite-services-list-4-a-image: '../img/sprite.png';
$sprite-services-list-4-a: (184px, 194px, -184px, -194px, 53px, 37px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-4-a', );
$sprite-services-list-4-name: 'sprite-services-list-4';
$sprite-services-list-4-x: 228px;
$sprite-services-list-4-y: 247px;
$sprite-services-list-4-offset-x: -228px;
$sprite-services-list-4-offset-y: -247px;
$sprite-services-list-4-width: 53px;
$sprite-services-list-4-height: 37px;
$sprite-services-list-4-total-width: 384px;
$sprite-services-list-4-total-height: 353px;
$sprite-services-list-4-image: '../img/sprite.png';
$sprite-services-list-4: (228px, 247px, -228px, -247px, 53px, 37px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-4', );
$sprite-services-list-5-a-name: 'sprite-services-list-5-a';
$sprite-services-list-5-a-x: 345px;
$sprite-services-list-5-a-y: 50px;
$sprite-services-list-5-a-offset-x: -345px;
$sprite-services-list-5-a-offset-y: -50px;
$sprite-services-list-5-a-width: 39px;
$sprite-services-list-5-a-height: 50px;
$sprite-services-list-5-a-total-width: 384px;
$sprite-services-list-5-a-total-height: 353px;
$sprite-services-list-5-a-image: '../img/sprite.png';
$sprite-services-list-5-a: (345px, 50px, -345px, -50px, 39px, 50px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-5-a', );
$sprite-services-list-5-name: 'sprite-services-list-5';
$sprite-services-list-5-x: 345px;
$sprite-services-list-5-y: 0px;
$sprite-services-list-5-offset-x: -345px;
$sprite-services-list-5-offset-y: 0px;
$sprite-services-list-5-width: 39px;
$sprite-services-list-5-height: 50px;
$sprite-services-list-5-total-width: 384px;
$sprite-services-list-5-total-height: 353px;
$sprite-services-list-5-image: '../img/sprite.png';
$sprite-services-list-5: (345px, 0px, -345px, 0px, 39px, 50px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-5', );
$sprite-services-list-6-a-name: 'sprite-services-list-6-a';
$sprite-services-list-6-a-x: 183px;
$sprite-services-list-6-a-y: 247px;
$sprite-services-list-6-a-offset-x: -183px;
$sprite-services-list-6-a-offset-y: -247px;
$sprite-services-list-6-a-width: 45px;
$sprite-services-list-6-a-height: 45px;
$sprite-services-list-6-a-total-width: 384px;
$sprite-services-list-6-a-total-height: 353px;
$sprite-services-list-6-a-image: '../img/sprite.png';
$sprite-services-list-6-a: (183px, 247px, -183px, -247px, 45px, 45px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-6-a', );
$sprite-services-list-6-name: 'sprite-services-list-6';
$sprite-services-list-6-x: 138px;
$sprite-services-list-6-y: 247px;
$sprite-services-list-6-offset-x: -138px;
$sprite-services-list-6-offset-y: -247px;
$sprite-services-list-6-width: 45px;
$sprite-services-list-6-height: 45px;
$sprite-services-list-6-total-width: 384px;
$sprite-services-list-6-total-height: 353px;
$sprite-services-list-6-image: '../img/sprite.png';
$sprite-services-list-6: (138px, 247px, -138px, -247px, 45px, 45px, 384px, 353px, '../img/sprite.png', 'sprite-services-list-6', );
$spritesheet-width: 384px;
$spritesheet-height: 353px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-block-nine-1, $sprite-block-nine-2, $sprite-block-nine-3, $sprite-block-nine-4, $sprite-block-seven-left, $sprite-block-seven-right, $sprite-block-six-1, $sprite-block-six-2, $sprite-block-six-3, $sprite-block-six-4, $sprite-block-six-5, $sprite-ico-dl, $sprite-ico-vk, $sprite-service-block-1, $sprite-service-block-2, $sprite-service-block-3, $sprite-services-list-1-a, $sprite-services-list-1, $sprite-services-list-2-a, $sprite-services-list-2, $sprite-services-list-3-a, $sprite-services-list-3, $sprite-services-list-4-a, $sprite-services-list-4, $sprite-services-list-5-a, $sprite-services-list-5, $sprite-services-list-6-a, $sprite-services-list-6, );
$spritesheet: (384px, 353px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
