/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-block-nine-1-name: 'sprite-block-nine-1';
$sprite-block-nine-1-x: 327px;
$sprite-block-nine-1-y: 0px;
$sprite-block-nine-1-offset-x: -327px;
$sprite-block-nine-1-offset-y: 0px;
$sprite-block-nine-1-width: 65px;
$sprite-block-nine-1-height: 68px;
$sprite-block-nine-1-total-width: 431px;
$sprite-block-nine-1-total-height: 392px;
$sprite-block-nine-1-image: '../img/sprite.png';
$sprite-block-nine-1: (327px, 0px, -327px, 0px, 65px, 68px, 431px, 392px, '../img/sprite.png', 'sprite-block-nine-1', );
$sprite-block-nine-2-name: 'sprite-block-nine-2';
$sprite-block-nine-2-x: 98px;
$sprite-block-nine-2-y: 221px;
$sprite-block-nine-2-offset-x: -98px;
$sprite-block-nine-2-offset-y: -221px;
$sprite-block-nine-2-width: 67px;
$sprite-block-nine-2-height: 67px;
$sprite-block-nine-2-total-width: 431px;
$sprite-block-nine-2-total-height: 392px;
$sprite-block-nine-2-image: '../img/sprite.png';
$sprite-block-nine-2: (98px, 221px, -98px, -221px, 67px, 67px, 431px, 392px, '../img/sprite.png', 'sprite-block-nine-2', );
$sprite-block-nine-3-name: 'sprite-block-nine-3';
$sprite-block-nine-3-x: 109px;
$sprite-block-nine-3-y: 142px;
$sprite-block-nine-3-offset-x: -109px;
$sprite-block-nine-3-offset-y: -142px;
$sprite-block-nine-3-width: 88px;
$sprite-block-nine-3-height: 53px;
$sprite-block-nine-3-total-width: 431px;
$sprite-block-nine-3-total-height: 392px;
$sprite-block-nine-3-image: '../img/sprite.png';
$sprite-block-nine-3: (109px, 142px, -109px, -142px, 88px, 53px, 431px, 392px, '../img/sprite.png', 'sprite-block-nine-3', );
$sprite-block-nine-4-name: 'sprite-block-nine-4';
$sprite-block-nine-4-x: 327px;
$sprite-block-nine-4-y: 68px;
$sprite-block-nine-4-offset-x: -327px;
$sprite-block-nine-4-offset-y: -68px;
$sprite-block-nine-4-width: 64px;
$sprite-block-nine-4-height: 64px;
$sprite-block-nine-4-total-width: 431px;
$sprite-block-nine-4-total-height: 392px;
$sprite-block-nine-4-image: '../img/sprite.png';
$sprite-block-nine-4: (327px, 68px, -327px, -68px, 64px, 64px, 431px, 392px, '../img/sprite.png', 'sprite-block-nine-4', );
$sprite-block-seven-left-name: 'sprite-block-seven-left';
$sprite-block-seven-left-x: 194px;
$sprite-block-seven-left-y: 98px;
$sprite-block-seven-left-offset-x: -194px;
$sprite-block-seven-left-offset-y: -98px;
$sprite-block-seven-left-width: 43px;
$sprite-block-seven-left-height: 43px;
$sprite-block-seven-left-total-width: 431px;
$sprite-block-seven-left-total-height: 392px;
$sprite-block-seven-left-image: '../img/sprite.png';
$sprite-block-seven-left: (194px, 98px, -194px, -98px, 43px, 43px, 431px, 392px, '../img/sprite.png', 'sprite-block-seven-left', );
$sprite-block-seven-right-name: 'sprite-block-seven-right';
$sprite-block-seven-right-x: 392px;
$sprite-block-seven-right-y: 50px;
$sprite-block-seven-right-offset-x: -392px;
$sprite-block-seven-right-offset-y: -50px;
$sprite-block-seven-right-width: 35px;
$sprite-block-seven-right-height: 35px;
$sprite-block-seven-right-total-width: 431px;
$sprite-block-seven-right-total-height: 392px;
$sprite-block-seven-right-image: '../img/sprite.png';
$sprite-block-seven-right: (392px, 50px, -392px, -50px, 35px, 35px, 431px, 392px, '../img/sprite.png', 'sprite-block-seven-right', );
$sprite-block-six-1-name: 'sprite-block-six-1';
$sprite-block-six-1-x: 238px;
$sprite-block-six-1-y: 0px;
$sprite-block-six-1-offset-x: -238px;
$sprite-block-six-1-offset-y: 0px;
$sprite-block-six-1-width: 89px;
$sprite-block-six-1-height: 96px;
$sprite-block-six-1-total-width: 431px;
$sprite-block-six-1-total-height: 392px;
$sprite-block-six-1-image: '../img/sprite.png';
$sprite-block-six-1: (238px, 0px, -238px, 0px, 89px, 96px, 431px, 392px, '../img/sprite.png', 'sprite-block-six-1', );
$sprite-block-six-2-name: 'sprite-block-six-2';
$sprite-block-six-2-x: 146px;
$sprite-block-six-2-y: 0px;
$sprite-block-six-2-offset-x: -146px;
$sprite-block-six-2-offset-y: 0px;
$sprite-block-six-2-width: 92px;
$sprite-block-six-2-height: 98px;
$sprite-block-six-2-total-width: 431px;
$sprite-block-six-2-total-height: 392px;
$sprite-block-six-2-image: '../img/sprite.png';
$sprite-block-six-2: (146px, 0px, -146px, 0px, 92px, 98px, 431px, 392px, '../img/sprite.png', 'sprite-block-six-2', );
$sprite-block-six-3-name: 'sprite-block-six-3';
$sprite-block-six-3-x: 238px;
$sprite-block-six-3-y: 96px;
$sprite-block-six-3-offset-x: -238px;
$sprite-block-six-3-offset-y: -96px;
$sprite-block-six-3-width: 79px;
$sprite-block-six-3-height: 101px;
$sprite-block-six-3-total-width: 431px;
$sprite-block-six-3-total-height: 392px;
$sprite-block-six-3-image: '../img/sprite.png';
$sprite-block-six-3: (238px, 96px, -238px, -96px, 79px, 101px, 431px, 392px, '../img/sprite.png', 'sprite-block-six-3', );
$sprite-block-six-4-name: 'sprite-block-six-4';
$sprite-block-six-4-x: 0px;
$sprite-block-six-4-y: 142px;
$sprite-block-six-4-offset-x: 0px;
$sprite-block-six-4-offset-y: -142px;
$sprite-block-six-4-width: 109px;
$sprite-block-six-4-height: 79px;
$sprite-block-six-4-total-width: 431px;
$sprite-block-six-4-total-height: 392px;
$sprite-block-six-4-image: '../img/sprite.png';
$sprite-block-six-4: (0px, 142px, 0px, -142px, 109px, 79px, 431px, 392px, '../img/sprite.png', 'sprite-block-six-4', );
$sprite-block-six-5-name: 'sprite-block-six-5';
$sprite-block-six-5-x: 0px;
$sprite-block-six-5-y: 221px;
$sprite-block-six-5-offset-x: 0px;
$sprite-block-six-5-offset-y: -221px;
$sprite-block-six-5-width: 98px;
$sprite-block-six-5-height: 83px;
$sprite-block-six-5-total-width: 431px;
$sprite-block-six-5-total-height: 392px;
$sprite-block-six-5-image: '../img/sprite.png';
$sprite-block-six-5: (0px, 221px, 0px, -221px, 98px, 83px, 431px, 392px, '../img/sprite.png', 'sprite-block-six-5', );
$sprite-ico-dl-name: 'sprite-ico-dl';
$sprite-ico-dl-x: 392px;
$sprite-ico-dl-y: 149px;
$sprite-ico-dl-offset-x: -392px;
$sprite-ico-dl-offset-y: -149px;
$sprite-ico-dl-width: 18px;
$sprite-ico-dl-height: 25px;
$sprite-ico-dl-total-width: 431px;
$sprite-ico-dl-total-height: 392px;
$sprite-ico-dl-image: '../img/sprite.png';
$sprite-ico-dl: (392px, 149px, -392px, -149px, 18px, 25px, 431px, 392px, '../img/sprite.png', 'sprite-ico-dl', );
$sprite-ico-vk-name: 'sprite-ico-vk';
$sprite-ico-vk-x: 392px;
$sprite-ico-vk-y: 120px;
$sprite-ico-vk-offset-x: -392px;
$sprite-ico-vk-offset-y: -120px;
$sprite-ico-vk-width: 29px;
$sprite-ico-vk-height: 29px;
$sprite-ico-vk-total-width: 431px;
$sprite-ico-vk-total-height: 392px;
$sprite-ico-vk-image: '../img/sprite.png';
$sprite-ico-vk: (392px, 120px, -392px, -120px, 29px, 29px, 431px, 392px, '../img/sprite.png', 'sprite-ico-vk', );
$sprite-modal-close-name: 'sprite-modal-close';
$sprite-modal-close-x: 327px;
$sprite-modal-close-y: 132px;
$sprite-modal-close-offset-x: -327px;
$sprite-modal-close-offset-y: -132px;
$sprite-modal-close-width: 50px;
$sprite-modal-close-height: 50px;
$sprite-modal-close-total-width: 431px;
$sprite-modal-close-total-height: 392px;
$sprite-modal-close-image: '../img/sprite.png';
$sprite-modal-close: (327px, 132px, -327px, -132px, 50px, 50px, 431px, 392px, '../img/sprite.png', 'sprite-modal-close', );
$sprite-owl-dot-active-name: 'sprite-owl-dot-active';
$sprite-owl-dot-active-x: 392px;
$sprite-owl-dot-active-y: 174px;
$sprite-owl-dot-active-offset-x: -392px;
$sprite-owl-dot-active-offset-y: -174px;
$sprite-owl-dot-active-width: 16px;
$sprite-owl-dot-active-height: 16px;
$sprite-owl-dot-active-total-width: 431px;
$sprite-owl-dot-active-total-height: 392px;
$sprite-owl-dot-active-image: '../img/sprite.png';
$sprite-owl-dot-active: (392px, 174px, -392px, -174px, 16px, 16px, 431px, 392px, '../img/sprite.png', 'sprite-owl-dot-active', );
$sprite-owl-dot-name: 'sprite-owl-dot';
$sprite-owl-dot-x: 410px;
$sprite-owl-dot-y: 149px;
$sprite-owl-dot-offset-x: -410px;
$sprite-owl-dot-offset-y: -149px;
$sprite-owl-dot-width: 16px;
$sprite-owl-dot-height: 16px;
$sprite-owl-dot-total-width: 431px;
$sprite-owl-dot-total-height: 392px;
$sprite-owl-dot-image: '../img/sprite.png';
$sprite-owl-dot: (410px, 149px, -410px, -149px, 16px, 16px, 431px, 392px, '../img/sprite.png', 'sprite-owl-dot', );
$sprite-owl-next-name: 'sprite-owl-next';
$sprite-owl-next-x: 0px;
$sprite-owl-next-y: 0px;
$sprite-owl-next-offset-x: 0px;
$sprite-owl-next-offset-y: 0px;
$sprite-owl-next-width: 73px;
$sprite-owl-next-height: 142px;
$sprite-owl-next-total-width: 431px;
$sprite-owl-next-total-height: 392px;
$sprite-owl-next-image: '../img/sprite.png';
$sprite-owl-next: (0px, 0px, 0px, 0px, 73px, 142px, 431px, 392px, '../img/sprite.png', 'sprite-owl-next', );
$sprite-owl-prev-name: 'sprite-owl-prev';
$sprite-owl-prev-x: 73px;
$sprite-owl-prev-y: 0px;
$sprite-owl-prev-offset-x: -73px;
$sprite-owl-prev-offset-y: 0px;
$sprite-owl-prev-width: 73px;
$sprite-owl-prev-height: 142px;
$sprite-owl-prev-total-width: 431px;
$sprite-owl-prev-total-height: 392px;
$sprite-owl-prev-image: '../img/sprite.png';
$sprite-owl-prev: (73px, 0px, -73px, 0px, 73px, 142px, 431px, 392px, '../img/sprite.png', 'sprite-owl-prev', );
$sprite-service-block-1-name: 'sprite-service-block-1';
$sprite-service-block-1-x: 202px;
$sprite-service-block-1-y: 304px;
$sprite-service-block-1-offset-x: -202px;
$sprite-service-block-1-offset-y: -304px;
$sprite-service-block-1-width: 44px;
$sprite-service-block-1-height: 31px;
$sprite-service-block-1-total-width: 431px;
$sprite-service-block-1-total-height: 392px;
$sprite-service-block-1-image: '../img/sprite.png';
$sprite-service-block-1: (202px, 304px, -202px, -304px, 44px, 31px, 431px, 392px, '../img/sprite.png', 'sprite-service-block-1', );
$sprite-service-block-2-name: 'sprite-service-block-2';
$sprite-service-block-2-x: 154px;
$sprite-service-block-2-y: 304px;
$sprite-service-block-2-offset-x: -154px;
$sprite-service-block-2-offset-y: -304px;
$sprite-service-block-2-width: 48px;
$sprite-service-block-2-height: 36px;
$sprite-service-block-2-total-width: 431px;
$sprite-service-block-2-total-height: 392px;
$sprite-service-block-2-image: '../img/sprite.png';
$sprite-service-block-2: (154px, 304px, -154px, -304px, 48px, 36px, 431px, 392px, '../img/sprite.png', 'sprite-service-block-2', );
$sprite-service-block-3-name: 'sprite-service-block-3';
$sprite-service-block-3-x: 392px;
$sprite-service-block-3-y: 85px;
$sprite-service-block-3-offset-x: -392px;
$sprite-service-block-3-offset-y: -85px;
$sprite-service-block-3-width: 34px;
$sprite-service-block-3-height: 35px;
$sprite-service-block-3-total-width: 431px;
$sprite-service-block-3-total-height: 392px;
$sprite-service-block-3-image: '../img/sprite.png';
$sprite-service-block-3: (392px, 85px, -392px, -85px, 34px, 35px, 431px, 392px, '../img/sprite.png', 'sprite-service-block-3', );
$sprite-services-list-1-a-name: 'sprite-services-list-1-a';
$sprite-services-list-1-a-x: 165px;
$sprite-services-list-1-a-y: 221px;
$sprite-services-list-1-a-offset-x: -165px;
$sprite-services-list-1-a-offset-y: -221px;
$sprite-services-list-1-a-width: 69px;
$sprite-services-list-1-a-height: 63px;
$sprite-services-list-1-a-total-width: 431px;
$sprite-services-list-1-a-total-height: 392px;
$sprite-services-list-1-a-image: '../img/sprite.png';
$sprite-services-list-1-a: (165px, 221px, -165px, -221px, 69px, 63px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-1-a', );
$sprite-services-list-1-name: 'sprite-services-list-1';
$sprite-services-list-1-x: 234px;
$sprite-services-list-1-y: 221px;
$sprite-services-list-1-offset-x: -234px;
$sprite-services-list-1-offset-y: -221px;
$sprite-services-list-1-width: 69px;
$sprite-services-list-1-height: 63px;
$sprite-services-list-1-total-width: 431px;
$sprite-services-list-1-total-height: 392px;
$sprite-services-list-1-image: '../img/sprite.png';
$sprite-services-list-1: (234px, 221px, -234px, -221px, 69px, 63px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-1', );
$sprite-services-list-2-a-name: 'sprite-services-list-2-a';
$sprite-services-list-2-a-x: 0px;
$sprite-services-list-2-a-y: 304px;
$sprite-services-list-2-a-offset-x: 0px;
$sprite-services-list-2-a-offset-y: -304px;
$sprite-services-list-2-a-width: 48px;
$sprite-services-list-2-a-height: 43px;
$sprite-services-list-2-a-total-width: 431px;
$sprite-services-list-2-a-total-height: 392px;
$sprite-services-list-2-a-image: '../img/sprite.png';
$sprite-services-list-2-a: (0px, 304px, 0px, -304px, 48px, 43px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-2-a', );
$sprite-services-list-2-name: 'sprite-services-list-2';
$sprite-services-list-2-x: 146px;
$sprite-services-list-2-y: 98px;
$sprite-services-list-2-offset-x: -146px;
$sprite-services-list-2-offset-y: -98px;
$sprite-services-list-2-width: 48px;
$sprite-services-list-2-height: 43px;
$sprite-services-list-2-total-width: 431px;
$sprite-services-list-2-total-height: 392px;
$sprite-services-list-2-image: '../img/sprite.png';
$sprite-services-list-2: (146px, 98px, -146px, -98px, 48px, 43px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-2', );
$sprite-services-list-3-a-name: 'sprite-services-list-3-a';
$sprite-services-list-3-a-x: 327px;
$sprite-services-list-3-a-y: 230px;
$sprite-services-list-3-a-offset-x: -327px;
$sprite-services-list-3-a-offset-y: -230px;
$sprite-services-list-3-a-width: 44px;
$sprite-services-list-3-a-height: 48px;
$sprite-services-list-3-a-total-width: 431px;
$sprite-services-list-3-a-total-height: 392px;
$sprite-services-list-3-a-image: '../img/sprite.png';
$sprite-services-list-3-a: (327px, 230px, -327px, -230px, 44px, 48px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-3-a', );
$sprite-services-list-3-name: 'sprite-services-list-3';
$sprite-services-list-3-x: 327px;
$sprite-services-list-3-y: 182px;
$sprite-services-list-3-offset-x: -327px;
$sprite-services-list-3-offset-y: -182px;
$sprite-services-list-3-width: 44px;
$sprite-services-list-3-height: 48px;
$sprite-services-list-3-total-width: 431px;
$sprite-services-list-3-total-height: 392px;
$sprite-services-list-3-image: '../img/sprite.png';
$sprite-services-list-3: (327px, 182px, -327px, -182px, 44px, 48px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-3', );
$sprite-services-list-4-a-name: 'sprite-services-list-4-a';
$sprite-services-list-4-a-x: 48px;
$sprite-services-list-4-a-y: 304px;
$sprite-services-list-4-a-offset-x: -48px;
$sprite-services-list-4-a-offset-y: -304px;
$sprite-services-list-4-a-width: 53px;
$sprite-services-list-4-a-height: 37px;
$sprite-services-list-4-a-total-width: 431px;
$sprite-services-list-4-a-total-height: 392px;
$sprite-services-list-4-a-image: '../img/sprite.png';
$sprite-services-list-4-a: (48px, 304px, -48px, -304px, 53px, 37px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-4-a', );
$sprite-services-list-4-name: 'sprite-services-list-4';
$sprite-services-list-4-x: 101px;
$sprite-services-list-4-y: 304px;
$sprite-services-list-4-offset-x: -101px;
$sprite-services-list-4-offset-y: -304px;
$sprite-services-list-4-width: 53px;
$sprite-services-list-4-height: 37px;
$sprite-services-list-4-total-width: 431px;
$sprite-services-list-4-total-height: 392px;
$sprite-services-list-4-image: '../img/sprite.png';
$sprite-services-list-4: (101px, 304px, -101px, -304px, 53px, 37px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-4', );
$sprite-services-list-5-a-name: 'sprite-services-list-5-a';
$sprite-services-list-5-a-x: 392px;
$sprite-services-list-5-a-y: 0px;
$sprite-services-list-5-a-offset-x: -392px;
$sprite-services-list-5-a-offset-y: 0px;
$sprite-services-list-5-a-width: 39px;
$sprite-services-list-5-a-height: 50px;
$sprite-services-list-5-a-total-width: 431px;
$sprite-services-list-5-a-total-height: 392px;
$sprite-services-list-5-a-image: '../img/sprite.png';
$sprite-services-list-5-a: (392px, 0px, -392px, 0px, 39px, 50px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-5-a', );
$sprite-services-list-5-name: 'sprite-services-list-5';
$sprite-services-list-5-x: 197px;
$sprite-services-list-5-y: 142px;
$sprite-services-list-5-offset-x: -197px;
$sprite-services-list-5-offset-y: -142px;
$sprite-services-list-5-width: 39px;
$sprite-services-list-5-height: 50px;
$sprite-services-list-5-total-width: 431px;
$sprite-services-list-5-total-height: 392px;
$sprite-services-list-5-image: '../img/sprite.png';
$sprite-services-list-5: (197px, 142px, -197px, -142px, 39px, 50px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-5', );
$sprite-services-list-6-a-name: 'sprite-services-list-6-a';
$sprite-services-list-6-a-x: 0px;
$sprite-services-list-6-a-y: 347px;
$sprite-services-list-6-a-offset-x: 0px;
$sprite-services-list-6-a-offset-y: -347px;
$sprite-services-list-6-a-width: 45px;
$sprite-services-list-6-a-height: 45px;
$sprite-services-list-6-a-total-width: 431px;
$sprite-services-list-6-a-total-height: 392px;
$sprite-services-list-6-a-image: '../img/sprite.png';
$sprite-services-list-6-a: (0px, 347px, 0px, -347px, 45px, 45px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-6-a', );
$sprite-services-list-6-name: 'sprite-services-list-6';
$sprite-services-list-6-x: 45px;
$sprite-services-list-6-y: 347px;
$sprite-services-list-6-offset-x: -45px;
$sprite-services-list-6-offset-y: -347px;
$sprite-services-list-6-width: 45px;
$sprite-services-list-6-height: 45px;
$sprite-services-list-6-total-width: 431px;
$sprite-services-list-6-total-height: 392px;
$sprite-services-list-6-image: '../img/sprite.png';
$sprite-services-list-6: (45px, 347px, -45px, -347px, 45px, 45px, 431px, 392px, '../img/sprite.png', 'sprite-services-list-6', );
$spritesheet-width: 431px;
$spritesheet-height: 392px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-block-nine-1, $sprite-block-nine-2, $sprite-block-nine-3, $sprite-block-nine-4, $sprite-block-seven-left, $sprite-block-seven-right, $sprite-block-six-1, $sprite-block-six-2, $sprite-block-six-3, $sprite-block-six-4, $sprite-block-six-5, $sprite-ico-dl, $sprite-ico-vk, $sprite-modal-close, $sprite-owl-dot-active, $sprite-owl-dot, $sprite-owl-next, $sprite-owl-prev, $sprite-service-block-1, $sprite-service-block-2, $sprite-service-block-3, $sprite-services-list-1-a, $sprite-services-list-1, $sprite-services-list-2-a, $sprite-services-list-2, $sprite-services-list-3-a, $sprite-services-list-3, $sprite-services-list-4-a, $sprite-services-list-4, $sprite-services-list-5-a, $sprite-services-list-5, $sprite-services-list-6-a, $sprite-services-list-6, );
$spritesheet: (431px, 392px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
