/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-block-six-1-name: 'sprite-block-six-1';
$sprite-block-six-1-x: 0px;
$sprite-block-six-1-y: 98px;
$sprite-block-six-1-offset-x: 0px;
$sprite-block-six-1-offset-y: -98px;
$sprite-block-six-1-width: 89px;
$sprite-block-six-1-height: 96px;
$sprite-block-six-1-total-width: 325px;
$sprite-block-six-1-total-height: 294px;
$sprite-block-six-1-image: '../img/sprite.png';
$sprite-block-six-1: (0px, 98px, 0px, -98px, 89px, 96px, 325px, 294px, '../img/sprite.png', 'sprite-block-six-1', );
$sprite-block-six-2-name: 'sprite-block-six-2';
$sprite-block-six-2-x: 0px;
$sprite-block-six-2-y: 0px;
$sprite-block-six-2-offset-x: 0px;
$sprite-block-six-2-offset-y: 0px;
$sprite-block-six-2-width: 92px;
$sprite-block-six-2-height: 98px;
$sprite-block-six-2-total-width: 325px;
$sprite-block-six-2-total-height: 294px;
$sprite-block-six-2-image: '../img/sprite.png';
$sprite-block-six-2: (0px, 0px, 0px, 0px, 92px, 98px, 325px, 294px, '../img/sprite.png', 'sprite-block-six-2', );
$sprite-block-six-3-name: 'sprite-block-six-3';
$sprite-block-six-3-x: 201px;
$sprite-block-six-3-y: 0px;
$sprite-block-six-3-offset-x: -201px;
$sprite-block-six-3-offset-y: 0px;
$sprite-block-six-3-width: 79px;
$sprite-block-six-3-height: 101px;
$sprite-block-six-3-total-width: 325px;
$sprite-block-six-3-total-height: 294px;
$sprite-block-six-3-image: '../img/sprite.png';
$sprite-block-six-3: (201px, 0px, -201px, 0px, 79px, 101px, 325px, 294px, '../img/sprite.png', 'sprite-block-six-3', );
$sprite-block-six-4-name: 'sprite-block-six-4';
$sprite-block-six-4-x: 92px;
$sprite-block-six-4-y: 0px;
$sprite-block-six-4-offset-x: -92px;
$sprite-block-six-4-offset-y: 0px;
$sprite-block-six-4-width: 109px;
$sprite-block-six-4-height: 79px;
$sprite-block-six-4-total-width: 325px;
$sprite-block-six-4-total-height: 294px;
$sprite-block-six-4-image: '../img/sprite.png';
$sprite-block-six-4: (92px, 0px, -92px, 0px, 109px, 79px, 325px, 294px, '../img/sprite.png', 'sprite-block-six-4', );
$sprite-block-six-5-name: 'sprite-block-six-5';
$sprite-block-six-5-x: 89px;
$sprite-block-six-5-y: 98px;
$sprite-block-six-5-offset-x: -89px;
$sprite-block-six-5-offset-y: -98px;
$sprite-block-six-5-width: 98px;
$sprite-block-six-5-height: 83px;
$sprite-block-six-5-total-width: 325px;
$sprite-block-six-5-total-height: 294px;
$sprite-block-six-5-image: '../img/sprite.png';
$sprite-block-six-5: (89px, 98px, -89px, -98px, 98px, 83px, 325px, 294px, '../img/sprite.png', 'sprite-block-six-5', );
$sprite-ico-dl-name: 'sprite-ico-dl';
$sprite-ico-dl-x: 201px;
$sprite-ico-dl-y: 164px;
$sprite-ico-dl-offset-x: -201px;
$sprite-ico-dl-offset-y: -164px;
$sprite-ico-dl-width: 18px;
$sprite-ico-dl-height: 25px;
$sprite-ico-dl-total-width: 325px;
$sprite-ico-dl-total-height: 294px;
$sprite-ico-dl-image: '../img/sprite.png';
$sprite-ico-dl: (201px, 164px, -201px, -164px, 18px, 25px, 325px, 294px, '../img/sprite.png', 'sprite-ico-dl', );
$sprite-service-block-1-name: 'sprite-service-block-1';
$sprite-service-block-1-x: 280px;
$sprite-service-block-1-y: 190px;
$sprite-service-block-1-offset-x: -280px;
$sprite-service-block-1-offset-y: -190px;
$sprite-service-block-1-width: 44px;
$sprite-service-block-1-height: 31px;
$sprite-service-block-1-total-width: 325px;
$sprite-service-block-1-total-height: 294px;
$sprite-service-block-1-image: '../img/sprite.png';
$sprite-service-block-1: (280px, 190px, -280px, -190px, 44px, 31px, 325px, 294px, '../img/sprite.png', 'sprite-service-block-1', );
$sprite-service-block-2-name: 'sprite-service-block-2';
$sprite-service-block-2-x: 106px;
$sprite-service-block-2-y: 257px;
$sprite-service-block-2-offset-x: -106px;
$sprite-service-block-2-offset-y: -257px;
$sprite-service-block-2-width: 48px;
$sprite-service-block-2-height: 36px;
$sprite-service-block-2-total-width: 325px;
$sprite-service-block-2-total-height: 294px;
$sprite-service-block-2-image: '../img/sprite.png';
$sprite-service-block-2: (106px, 257px, -106px, -257px, 48px, 36px, 325px, 294px, '../img/sprite.png', 'sprite-service-block-2', );
$sprite-service-block-3-name: 'sprite-service-block-3';
$sprite-service-block-3-x: 280px;
$sprite-service-block-3-y: 221px;
$sprite-service-block-3-offset-x: -280px;
$sprite-service-block-3-offset-y: -221px;
$sprite-service-block-3-width: 34px;
$sprite-service-block-3-height: 35px;
$sprite-service-block-3-total-width: 325px;
$sprite-service-block-3-total-height: 294px;
$sprite-service-block-3-image: '../img/sprite.png';
$sprite-service-block-3: (280px, 221px, -280px, -221px, 34px, 35px, 325px, 294px, '../img/sprite.png', 'sprite-service-block-3', );
$sprite-services-list-1-a-name: 'sprite-services-list-1-a';
$sprite-services-list-1-a-x: 0px;
$sprite-services-list-1-a-y: 194px;
$sprite-services-list-1-a-offset-x: 0px;
$sprite-services-list-1-a-offset-y: -194px;
$sprite-services-list-1-a-width: 69px;
$sprite-services-list-1-a-height: 63px;
$sprite-services-list-1-a-total-width: 325px;
$sprite-services-list-1-a-total-height: 294px;
$sprite-services-list-1-a-image: '../img/sprite.png';
$sprite-services-list-1-a: (0px, 194px, 0px, -194px, 69px, 63px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-1-a', );
$sprite-services-list-1-name: 'sprite-services-list-1';
$sprite-services-list-1-x: 201px;
$sprite-services-list-1-y: 101px;
$sprite-services-list-1-offset-x: -201px;
$sprite-services-list-1-offset-y: -101px;
$sprite-services-list-1-width: 69px;
$sprite-services-list-1-height: 63px;
$sprite-services-list-1-total-width: 325px;
$sprite-services-list-1-total-height: 294px;
$sprite-services-list-1-image: '../img/sprite.png';
$sprite-services-list-1: (201px, 101px, -201px, -101px, 69px, 63px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-1', );
$sprite-services-list-2-a-name: 'sprite-services-list-2-a';
$sprite-services-list-2-a-x: 157px;
$sprite-services-list-2-a-y: 194px;
$sprite-services-list-2-a-offset-x: -157px;
$sprite-services-list-2-a-offset-y: -194px;
$sprite-services-list-2-a-width: 48px;
$sprite-services-list-2-a-height: 43px;
$sprite-services-list-2-a-total-width: 325px;
$sprite-services-list-2-a-total-height: 294px;
$sprite-services-list-2-a-image: '../img/sprite.png';
$sprite-services-list-2-a: (157px, 194px, -157px, -194px, 48px, 43px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-2-a', );
$sprite-services-list-2-name: 'sprite-services-list-2';
$sprite-services-list-2-x: 205px;
$sprite-services-list-2-y: 194px;
$sprite-services-list-2-offset-x: -205px;
$sprite-services-list-2-offset-y: -194px;
$sprite-services-list-2-width: 48px;
$sprite-services-list-2-height: 43px;
$sprite-services-list-2-total-width: 325px;
$sprite-services-list-2-total-height: 294px;
$sprite-services-list-2-image: '../img/sprite.png';
$sprite-services-list-2: (205px, 194px, -205px, -194px, 48px, 43px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-2', );
$sprite-services-list-3-a-name: 'sprite-services-list-3-a';
$sprite-services-list-3-a-x: 113px;
$sprite-services-list-3-a-y: 194px;
$sprite-services-list-3-a-offset-x: -113px;
$sprite-services-list-3-a-offset-y: -194px;
$sprite-services-list-3-a-width: 44px;
$sprite-services-list-3-a-height: 48px;
$sprite-services-list-3-a-total-width: 325px;
$sprite-services-list-3-a-total-height: 294px;
$sprite-services-list-3-a-image: '../img/sprite.png';
$sprite-services-list-3-a: (113px, 194px, -113px, -194px, 44px, 48px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-3-a', );
$sprite-services-list-3-name: 'sprite-services-list-3';
$sprite-services-list-3-x: 69px;
$sprite-services-list-3-y: 194px;
$sprite-services-list-3-offset-x: -69px;
$sprite-services-list-3-offset-y: -194px;
$sprite-services-list-3-width: 44px;
$sprite-services-list-3-height: 48px;
$sprite-services-list-3-total-width: 325px;
$sprite-services-list-3-total-height: 294px;
$sprite-services-list-3-image: '../img/sprite.png';
$sprite-services-list-3: (69px, 194px, -69px, -194px, 44px, 48px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-3', );
$sprite-services-list-4-a-name: 'sprite-services-list-4-a';
$sprite-services-list-4-a-x: 0px;
$sprite-services-list-4-a-y: 257px;
$sprite-services-list-4-a-offset-x: 0px;
$sprite-services-list-4-a-offset-y: -257px;
$sprite-services-list-4-a-width: 53px;
$sprite-services-list-4-a-height: 37px;
$sprite-services-list-4-a-total-width: 325px;
$sprite-services-list-4-a-total-height: 294px;
$sprite-services-list-4-a-image: '../img/sprite.png';
$sprite-services-list-4-a: (0px, 257px, 0px, -257px, 53px, 37px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-4-a', );
$sprite-services-list-4-name: 'sprite-services-list-4';
$sprite-services-list-4-x: 53px;
$sprite-services-list-4-y: 257px;
$sprite-services-list-4-offset-x: -53px;
$sprite-services-list-4-offset-y: -257px;
$sprite-services-list-4-width: 53px;
$sprite-services-list-4-height: 37px;
$sprite-services-list-4-total-width: 325px;
$sprite-services-list-4-total-height: 294px;
$sprite-services-list-4-image: '../img/sprite.png';
$sprite-services-list-4: (53px, 257px, -53px, -257px, 53px, 37px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-4', );
$sprite-services-list-5-a-name: 'sprite-services-list-5-a';
$sprite-services-list-5-a-x: 280px;
$sprite-services-list-5-a-y: 90px;
$sprite-services-list-5-a-offset-x: -280px;
$sprite-services-list-5-a-offset-y: -90px;
$sprite-services-list-5-a-width: 39px;
$sprite-services-list-5-a-height: 50px;
$sprite-services-list-5-a-total-width: 325px;
$sprite-services-list-5-a-total-height: 294px;
$sprite-services-list-5-a-image: '../img/sprite.png';
$sprite-services-list-5-a: (280px, 90px, -280px, -90px, 39px, 50px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-5-a', );
$sprite-services-list-5-name: 'sprite-services-list-5';
$sprite-services-list-5-x: 280px;
$sprite-services-list-5-y: 140px;
$sprite-services-list-5-offset-x: -280px;
$sprite-services-list-5-offset-y: -140px;
$sprite-services-list-5-width: 39px;
$sprite-services-list-5-height: 50px;
$sprite-services-list-5-total-width: 325px;
$sprite-services-list-5-total-height: 294px;
$sprite-services-list-5-image: '../img/sprite.png';
$sprite-services-list-5: (280px, 140px, -280px, -140px, 39px, 50px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-5', );
$sprite-services-list-6-a-name: 'sprite-services-list-6-a';
$sprite-services-list-6-a-x: 280px;
$sprite-services-list-6-a-y: 0px;
$sprite-services-list-6-a-offset-x: -280px;
$sprite-services-list-6-a-offset-y: 0px;
$sprite-services-list-6-a-width: 45px;
$sprite-services-list-6-a-height: 45px;
$sprite-services-list-6-a-total-width: 325px;
$sprite-services-list-6-a-total-height: 294px;
$sprite-services-list-6-a-image: '../img/sprite.png';
$sprite-services-list-6-a: (280px, 0px, -280px, 0px, 45px, 45px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-6-a', );
$sprite-services-list-6-name: 'sprite-services-list-6';
$sprite-services-list-6-x: 280px;
$sprite-services-list-6-y: 45px;
$sprite-services-list-6-offset-x: -280px;
$sprite-services-list-6-offset-y: -45px;
$sprite-services-list-6-width: 45px;
$sprite-services-list-6-height: 45px;
$sprite-services-list-6-total-width: 325px;
$sprite-services-list-6-total-height: 294px;
$sprite-services-list-6-image: '../img/sprite.png';
$sprite-services-list-6: (280px, 45px, -280px, -45px, 45px, 45px, 325px, 294px, '../img/sprite.png', 'sprite-services-list-6', );
$spritesheet-width: 325px;
$spritesheet-height: 294px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-block-six-1, $sprite-block-six-2, $sprite-block-six-3, $sprite-block-six-4, $sprite-block-six-5, $sprite-ico-dl, $sprite-service-block-1, $sprite-service-block-2, $sprite-service-block-3, $sprite-services-list-1-a, $sprite-services-list-1, $sprite-services-list-2-a, $sprite-services-list-2, $sprite-services-list-3-a, $sprite-services-list-3, $sprite-services-list-4-a, $sprite-services-list-4, $sprite-services-list-5-a, $sprite-services-list-5, $sprite-services-list-6-a, $sprite-services-list-6, );
$spritesheet: (325px, 294px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
