@import 'import/reset';
@import 'import/variables';
@import 'import/owl.carousel';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';
@import 'import/jquerycountdown';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}
.zebra {
  font-size: em(43, 16);
  font-weight: $ebold;

  margin: 0 auto 20px;

  text-align: center;
  text-transform: uppercase;

  color: $violet;
  span {
    color: $blue;
  }
}
header {
  position: fixed;
  z-index: 5;

  width: 100%;
  height: 55px;

  background-color: #fdfdfd;
  .logo {
    position: absolute;
    top: 5px;
    left: 8px;

    display: block;

    width: 192px;
    height: 47px;
    img {
      max-width: 100%;
    }
  }
  nav {
    position: absolute;
    left: 250px;

    width: 810px;
    padding-top: 20px;
    ul {
      display: block;

      width: 100%;
      li {
        display: inline-block;

        width: 16%;

        @extend .justify-child;
        a {
          font-size: 16px;

          display: block;

          text-align: center;
          text-decoration: none;

          color: $base-font-color;
        }
        &.current {
          a {
            font-weight: bold;

            text-decoration: underline;

            color: $blue;
          }
        }
      }
    }
  }
  .phone-block {
    position: absolute;
    top: 5px;
    right: 5px;

    text-align: right;
    ul,
    li {
      margin: 0;
      padding: 0;
    }
    a {
      font-size: em(16,16);
      line-height: .95;

      display: block;

      text-decoration: none;

      color: $black;
      &:hover {
        color: $blue;
      }
    }
    .recall {
      font-size: em(14, 16);
      font-weight: bold;
      line-height: .95;

      display: block;

      padding-right: 5px;

      cursor: pointer;
      text-decoration: underline;

      color: $blue;
      &:hover {
        text-decoration: none;

        color: $black;
      }
    }
  }
}
.btn {
  line-height: normal;

  position: relative;

  display: inline-block;

  width: 100%;
  height: 64px;
  padding: 16px 20px;

  cursor: pointer;
  text-align: center;
  letter-spacing: .02em;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.3), 0 1px 0 0 #ffe278 inset, 0 0 0 10px rgba(0,0,0,.1);
  text-shadow: 0 1px 0 #bb4b05;
}
.btn-orange {
  color: #fff;
  border: 1px solid #e09e10;
  background: #f7a002;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: linear-gradient(to bottom, #f7cf02 10%,#fe7201 100%);
}
.btn-small {
  font-size: em(12, 16);
  font-weight: bold;

  width: 180px;
  height: 30px;
  padding: 3px 0;
}

form {
  position: relative;

  width: 290px;
  margin-right: auto;
  margin-left: auto;
  input {
    font-size: em(17, 16);

    width: 100%;
    margin-bottom: 10px;

    color: #fff;
    color: #bbb;
    border: 1px solid #dedede;
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
  .btn {
    width: 270px;
    margin-bottom: 0;
  }
  .message {
    display: none;
    &.message-err {
      display: block;

      color: red;
    }
    &.message-ok {
      display: block;

      color: green;
    }
  }
  .thanx {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    border: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $form-box-shadow;
    h4 {
      font-size: 1.5em;
      font-weight: bold;

      width: 90%;

      color: $violet;

      @extend .align-center;
      span {
        font-weight: normal;
      }
    }
  }
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}
.is-countdown {
  border: 0;
  background-color: transparent;
}
.timer {
  width: 180px;
  margin: 0 auto;
  .countdown-amount {
    display: block;

    width: 40px;
    margin: 0 auto;
    padding: 5px 3px;

    text-align: center;

    color: #fff;
    border-radius: 3px;

    @include linear-gradient(#2c515c, #3d3e3e);
  }
  .countdown-period {
    font-size: em(14, 16);
  }
}
.block-first {
  height: 750px;

  background-image: url(../img/block-first.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .block-first-heading {
    position: absolute;
    top: 180px;
    left: 300px;

    width: 830px;
    span {
      font-size: em(40, 16);
      font-weight: $ebold;
      line-height: 1.1;

      display: block;

      text-align: left;
      text-transform: uppercase;

      color: $blue;
      &:nth-child(2) {
        color: $violet;
      }
      &:last-child {
        padding-right: 160px;

        text-align: right;
      }
    }
  }
  .block-first-content {
    line-height: 1.5;

    position: absolute;
    top: 480px;
    left: 340px;

    width: 260px;

    text-align: right;

    color: #fff;
    .white,
    .violet {
      font-weight: bold;
    }
    .violet {
      color: $violet;
    }
  }
  .order-form {
    position: absolute;
    top: 405px;
    left: 810px;

    width: 355px;
    height: 330px;
    padding-top: 5px;

    text-align: center;

    background-color: rgba(255, 255, 255, .8);
    h5 {
      font-size: em(35,16);
      font-weight: $ebold;

      margin-bottom: 0;

      text-align: center;

      color: $blue;
    }
    h6 {
      font-size: em(19, 16);
      font-weight: bold;

      margin-bottom: 5px;

      color: $violet;
    }
    input[name=phone] {
      margin-bottom: 20px;
    }
    .btn {
      height: 50px;
    }
  }
}
.block-second {
  height: 230px;
  padding: 60px 0 0;

  background-color: #f5f5f5;
  ul {
    display: block;

    height: 90px;

    @extend .clearfix;
    li {
      font-size: em(18, 16);

      position: relative;

      display: inline-block;
      float: left;

      width: 400px;
      height: 100%;
      padding: 20px 0 0 140px;

      text-align: left;

      color: $violet;
      &:nth-child(2) {
        width: 250px;

        text-align: left;
        span {
          left: 5px;
        }
      }
      &:last-child {
        width: 560px;
        padding-left: 380px;

        text-align: right;
        span {
          left: 110px;
          &:before {
            font-weight: $ebold;
            line-height: .7;

            content: '>';

            color: $blue;
            text-shadow: 4px 4px 5px $violet;;
          }
        }
      }
      span {
        font-size: em(99, 16);
        font-weight: $ebold;
        line-height: .7;

        position: absolute;
        top: 0;
        left: 0;

        color: $blue;
        text-shadow: 4px 4px 5px $violet;;
      }
    }
  }
}
.block-third {
  height: 980px;
  padding-top: 50px;

  background-image: url(../img/block-third.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    @extend .zebra;
  }
  h2 {
    font-weight: $light;

    margin-bottom: 50px;

    text-align: center;
  }
  .services-list {
    float: left;

    width: 50%;
    padding-left: 70px;
    li {
      font-size: em(23, 16);
      font-weight: $light;
      line-height: 1;

      position: relative;
      top: -5px;

      height: 120px;
      margin: 0;
      padding: 25px 0 0 95px;

      cursor: pointer;

      color: #ccc;
      border: 5px dotted transparent;
      border-right: 5px dotted #dedede;
      border-radius: 8px 0 0 8px;
      span {
        font-size: em(28, 16);
        font-weight: bold;
        line-height: .8;

        display: block;

        text-decoration: underline;
        text-transform: uppercase;

        color: #ccc;
      }
      &:before {
        position: absolute;

        @extend .dblock;
      }
      &:nth-child(1) {
        top: 0;
        &:before {
          top: 20px;
          left: 15px;

          @include sprite($sprite-services-list-1);
        }
      }
      &:nth-child(2) {
        &:before {
          top: 40px;
          left: 15px;

          @include sprite($sprite-services-list-2);
        }
      }
      &:nth-child(3) {
        &:before {
          top: 30px;
          left: 20px;

          @include sprite($sprite-services-list-3);
        }
      }
      &:nth-child(4) {
        &:before {
          top: 30px;
          left: 20px;

          @include sprite($sprite-services-list-4);
        }
        span {
          font-size: em(20,16);
        }
      }
      &:nth-child(5) {
        &:before {
          top: 30px;
          left: 20px;

          @include sprite($sprite-services-list-5);
        }
        span {
          font-size: em(22,16);
        }
      }
      &:nth-child(6) {
        &:before {
          top: 30px;
          left: 20px;

          @include sprite($sprite-services-list-6);
        }
        span {
          padding-top: 10px;
        }
      }
      &:hover,
      &.current {
        color: #8c8c8c;
        border: 5px dotted #dedede;
        border-right: 5px dotted transparent;
        span {
          text-decoration: none;

          color: $violet;
        }
        &:nth-child(1) {
          &:before {
            @include sprite($sprite-services-list-1-a);
          }
        }
        &:nth-child(2) {
          &:before {
            @include sprite($sprite-services-list-2-a);
          }
        }
        &:nth-child(3) {
          &:before {
            @include sprite($sprite-services-list-3-a);
          }
        }
        &:nth-child(4) {
          &:before {
            @include sprite($sprite-services-list-4-a);
          }
        }
        &:nth-child(5) {
          &:before {
            @include sprite($sprite-services-list-5-a);
          }
        }
        &:nth-child(6) {
          &:before {
            @include sprite($sprite-services-list-6-a);
          }
        }
      }
    }
  }
  .service-block {
    display: none;
    float: right;

    width: 50%;
    height: 715px;
    padding: 25px 25px 10px 60px;

    border: 5px dotted #dedede;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    p {
      font-size: em(18, 16);

      margin: 0 0 30px;
      span {
        font-weight: bold;

        display: block;

        text-transform: uppercase;

        color: #000;
      }
    }
    ul {
      margin: 0 0 15px;
      padding: 0 0 0 35px;
      li {
        position: relative;

        margin: 0 0 20px;
        padding: 0;
        &:before {
          position: absolute;
          top: 15px;
          left: -60px;

          @extend .dblock;
        }
        &:nth-child(1) {
          &:before {
            @include sprite($sprite-service-block-1);
          }
        }
        &:nth-child(2) {
          &:before {
            @include sprite($sprite-service-block-2);
          }
        }
        &:nth-child(3) {
          &:before {
            left: -55px;

            @include sprite($sprite-service-block-3);
          }
        }
      }
    }
    h3 {
      font-size: em(33, 16);
      font-weight: bold;

      margin-bottom: 20px;
      padding-left: 35px;

      color: $blue;
    }
    .btn {
      font-size: 20px;
      font-weight: bold;

      display: block;

      width: 300px;
      margin-bottom: 15px;
      margin-left: 45px;
    }
    .price-dl {
      font-size: em(18, 16);

      position: relative;

      display: block;

      padding-left: 85px;

      text-decoration: underline;

      color: $blue;
      &:before {
        position: absolute;
        top: 5px;
        left: 55px;

        @extend .dblock;
        @include sprite($sprite-ico-dl);
      }
    }
  }
}
.block-fourth {
  height: 1100px;
  padding-top: 80px;

  background-image: url(../img/block-fourth.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  .inner {
    height: 100%;
  }
  h1 {
    width: 450px;

    @extend .zebra;
  }
  .yotuber {
    position: absolute;
    z-index: 0;
    top: 210px;
    left: 215px;

    width: 810px;
    height: 610px;
    &:before,
    &:after {
      position: absolute;
      z-index: 2;

      background-repeat: no-repeat;

      @extend .dblock;
    }
    &:before {
      top: -107px;
      left: -216px;

      width: 281px;
      height: 837px;

      background-image: url(../img/yotuber-wooman.png);
    }
    &:after {
      top: 606px;
      left: 24px;

      width: 746px;
      height: 52px;

      background-image: url(../img/yotuber-shadow.png);
    }
  }
  .btn {
    position: absolute;
    top: 905px;
    left: 460px;

    width: 300px;
  }
}
.block-six {
  height: 730px;
  padding-top: 60px;

  background-image: url(../img/block-six.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    width: 480px;
    margin-bottom: 100px;

    @extend .zebra;
  }
  ul {
    @extend .clearfix;
    li {
      font-size: em(20, 16);

      position: relative;

      float: left;

      width: 370px;
      height: 255px;
      margin: 0;
      padding: 20px 50px 0 115px;

      color: #000;
      span {
        font-size: em(25, 16);
        font-weight: bold;

        display: block;

        margin-bottom: 45px;

        text-transform: uppercase;

        color: $blue;
        text-shadow: 20px 20px 7px rgba(0, 0, 0, .2);
      }
      &:before {
        position: absolute;
        top: 10px;
        left: 25px;

        @extend .dblock;
      }
      &:nth-child(1) {
        margin-right: 90px;
        padding: 20px 50px 0 115px;
        &:before {
          @include sprite($sprite-block-six-1);
        }
        .btn {
          margin-top: 20px;
        }
      }
      &:nth-child(2) {
        margin-right: 10px;
        &:before {
          @include sprite($sprite-block-six-2);
        }
      }
      &:nth-child(3) {
        width: 320px;
        margin-right: 50px;
        &:before {
          top: 15px;
          left: 30px;

          @include sprite($sprite-block-six-3);
        }
      }
      &:nth-child(4) {
        margin-right: 10px;
        margin-left: 460px;
        &:before {
          top: 20px;
          left: 15px;

          @include sprite($sprite-block-six-4);
        }
      }
      &:nth-child(5) {
        &:before {
          top: 15px;

          @include sprite($sprite-block-six-5);
        }
      }
    }
  }
}
.block-seven {
  height: 716px;

  background-image: url(../img/block-seven.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  h3 {
    font-size: em(53, 16);
    font-weight: normal;

    margin-bottom: 70px;
    padding-top: 60px;

    text-align: center;
    text-align: center;
    text-transform: uppercase;

    color: $violet;
    span {
      font-weight: $ebold;

      margin-right: 100px;
      margin-left: -10px;

      color: #fff;
    }
  }
  h4 {
    font-size: em(25,16);

    margin-bottom: 35px;
    span {
      font-weight: bold;

      display: block;
    }
  }
  .block-left,
  .block-right {
    ul {
      margin: 0 ;
      li {
        position: relative;

        margin: 0 0 40px;
        padding: 0 0 0 65px;
        &:before {
          position: absolute;
          top: -8px;
          left: 8px;

          @extend .dblock;
        }
      }
    }
  }
  .block-left {
    float: left;

    width: 50%;
    padding: 0 140px 0 40px;

    color: #fff;
    ul {
      li {
        &:before {
          @include sprite($sprite-block-seven-left);
        }
      }
    }
  }
  .block-right {
    float: right;

    width: 50%;
    padding: 0 160px 0 40px;

    color: $violet;
    ul {
      li {
        &:before {
          top: -3px;
          left: 13px;

          @include sprite($sprite-block-seven-right);
        }
      }
    }
  }
}
.block-eight {
  height: 800px;
  padding-top: 80px;
  h1 {
    margin-bottom: 20px;

    @extend .zebra;
  }
  .owl-carousel {
    margin-bottom: 30px;
    .owl-controls {
      .owl-dots {
        text-align: center;
      }
      .owl-dot {
        display: inline-block;

        width: 16px;
        height: 16px;
        margin: 0 5px;

        border-radius: 50%;

        @include sprite($sprite-owl-dot);
        &.active {
          @include sprite($sprite-owl-dot-active);
        }
      }
    }
  }
  .btn {
    font-weight: bold;

    display: block;

    width: 300px;
    height: 56px;
    margin: 0 auto;
  }
}
.block-nine {
  height: 1360px;
  padding-top: 60px;

  background-image: url(../img/block-nine.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    margin-bottom: 40px;

    @extend .zebra;
  }
  ul {
    position: relative;

    display: block;

    width: 100%;
    height: 690px;
    margin-bottom: 6px;
    li {
      position: absolute;

      text-align: left;
      h4 {
        font-size: em(26, 16);
        font-weight: bold;

        margin-bottom: 10px;

        text-align: left;

        @extend .zebra;
      }
      p {
        font-size: em(18, 16);
        font-weight: $light;
        line-height: 1;
      }
      &:before {
        @extend .dblock;
      }
      &:nth-child(1) {
        top: 10px;
        left: 275px;

        width: 340px;
        height: 360px;
        &:before {
          @include sprite($sprite-block-nine-1);
        }
      }
      &:nth-child(2) {
        top: 65px;
        right: 240px;

        width: 315px;
        height: 150px;

        text-align: right;
        h4 {
          text-align: right;
        }
        &:before {
          margin-left: 245px;

          @include sprite($sprite-block-nine-2);
        }
      }
      &:nth-child(3) {
        top: 285px;
        right: 375px;

        width: 250px;
        height: 80px;

        text-align: right;
        h4 {
          text-align: right;
        }
        &:before {
          margin-left: 160px;

          @include sprite($sprite-block-nine-3);
        }
      }
      &:nth-child(4) {
        top: 440px;
        left: 460px;

        width: 255px;
        height: 80px;
        &:before {
          @include sprite($sprite-block-nine-4);
        }
      }
    }
  }
  .box-blue {
    font-size: em(20, 16);
    line-height: 1.1;

    position: relative;

    width: 830px;
    margin: 0 auto 40px;
    padding: 40px 30px 30px 320px;

    color: #fff;
    background-color: $blue;
    span {
      font-size: em(80,16);
      font-weight: $ebold;
      line-height: .7;

      position: absolute;
      top: 30px;
      left: 30px;
    }
  }
  .box-transparent {
    font-size: em(20, 16);

    width: 680px;
    margin: 0 auto;

    text-align: center;

    color: $black;
  }
}
.block-eleven {
  height: 640px;
  padding-top: 80px;

  color: #fff;
  background-color: $blue;
  h1 {
    width: 580px;
    margin: 0 auto 40px;

    color: $violet;

    @extend .zebra;
    span {
      color: #fff;
    }
  }
  ul {
    display: block;

    width: 720px;
    margin: 0 auto 40px;

    @extend .clearfix;
    li {
      font-size: em(20, 16);
      font-weight: $light;

      position: relative;

      float: left;

      width: 50%;
      padding: 0 30px 0 230px;

      color: #000;
      span {
        font-size: em(43, 16);
        font-weight: $ebold;

        position: absolute;
        top: -10px;
        left: 0;
      }
      &:last-child {
        padding-left: 200px;
        span {
          left: 40px;
        }
      }
    }
  }
  form {
    text-align: center;
    button {
      margin-top: 20px;
    }
  }
}
.block-twelve {
  height: 615px;
  padding-top: 60px;

  background-image: url(../img/block-twelve.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  h1 {
    margin-bottom: 150px;

    @extend .zebra;
  }
  .review-carousel {
    font-weight: $light;

    width: 850px;
    margin: 0 auto;
    .owl-stage-outer {
      z-index: 50;
    }
    .owl-item {
      z-index: 50;

      padding: 0 0 0 150px;
      div {
        position: relative;
        z-index: 55;
      }
    }
    img {
      position: absolute;
      top: 20px;
      left: -130px;

      width: 110px;
      height: 110px;

      border-radius: 50%;
    }
    h4 {
      font-size: em(18, 16);
      font-weight: bold;

      margin: 0 0 25px;
      a {
        text-decoration: underline;

        color: #486e98;
        &:hover {
          text-decoration: none;
        }
        &:after {
          position: relative;
          top: 5px;

          display: inline-block;

          margin-left: 5px;

          @extend .dblock;
        }
      }
      &.vk {
        a {
          &:after {
            @include sprite($sprite-ico-vk);
          }
        }
      }
    }
  }
  .owl-controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .owl-nav {
      position: relative;
      .owl-prev,
      .owl-next {
        font-size: 0;

        position: absolute;
        top: 20px;

        display: block !important;

        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      .owl-prev {
        left: -90px;

        @include sprite($sprite-owl-prev);
      }
      .owl-next {
        right: -90px;

        @include sprite($sprite-owl-next);
      }
    }
  }
}
.block-thirteen {
  position: relative;

  height: 770px;
  .box-map {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 770px;

    background-color: grey;
  }
  .inner {
    height: 100%;
  }
  .box-contact {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 430px;
    height: 715px;
    padding-top: 50px;

    text-align: center;

    color: #fff;
    background-color: $blue;
    h5,
    h6 {
      font-size: em(43, 16);
      font-weight: bold;

      margin-bottom: 40px;

      text-transform: uppercase;
    }
    h6 {
      font-size: em(37, 16);
    }
    p {
      font-size: em(20, 16);
    }
    a {
      font-size: em(20, 16);
      font-weight: bold;

      display: block;

      color: #fff;
      &.phone2 {
        margin-bottom: 30px;
      }
    }
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
    height: 100%;
  }
  .copyright {
    font-size: em(15, 16);
    font-weight: $light;

    position: absolute;
    top: 10px;
    right: 0;

    text-align: right;
    a {
      color: $black;
    }
  }
}

/*
 * SimpleModal Contact Form
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

/* Overlay */

#contact-overlay {
  background-color: #000;
}

/* Container */

#contact-container {
  top: 150px !important;

  width: 350px;

  text-align: center;
  .contact-content {
    font-size: 1em;

    position: relative;

    width: 350px;
    height: 400px;
    padding: 00;

    text-align: center;

    color: $base-font-color;
    border-radius: $base-border-radius;
    background-color: #fff;
    form {
      width: 100%;
      margin: 0;
      padding: 0 30px;

      border: 0;
      border-radius: 0;
      background-color: #fff;
      h3 {
        font-size: em(22, 16);
        font-weight: $ebold;

        margin-right: -30px;
        margin-bottom: 15px;
        margin-left: -30px;
        padding: 15px 30px;

        text-transform: uppercase;

        color: #fff;
        background-color: $blue;
      }
      .confd {
        font-size: em(13, 16);

        margin: 15px 0;

        color: #848484;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .contact-loading {
    position: absolute;
    z-index: 8000;

    width: 100%;
    height: 150px;
    margin: 0 auto 190px;
    padding: 0;
  }
  .contact-message {
    position: relative;

    width: 100%;
    height: 1px !important;

    text-align: center;
  }
  .contact-error {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;

    position: absolute;
    top: -45px;
    left: 0;

    width: 92%;
    margin: 0 4%;
    padding: 5px;

    color: $orange;
    border: 2px solid $base-border-color;
    border-radius: $base-border-radius;
    background-color: $base-font-color;
  }
  br {
    clear: both;
  }
  .contact-top {
    height: 1em;
    margin: 0;
    padding: 0;

    border-radius: $base-border-radius $base-border-radius 0 0;
    background-color: #fff;
  }
  .contact-bottom {
    font-size: 1em;
    line-height: 1;

    height: 1em;

    text-align: center;

    border-radius: 0 0 $base-border-radius $base-border-radius;
    background-color: #fff;
    a {
      position: relative;
      top: -4px;

      text-decoration: none;

      color: $action-color;
      &:link,
      &:active,
      &:visited {
        position: relative;
        top: -4px;

        text-decoration: none;

        color: #666;
      }
      &:hover {
        color: #888;
      }
    }
  }
  a.modal-close {
    font-size: 0;

    position: absolute;
    top: -50px;
    right: -65px;

    text-decoration: none;

    @include sprite($sprite-modal-close);
    &:hover {
      color: #ccc;
    }
  }
  .thanx {
    padding: 30px;
    h4 {
      font-size: em(36, 16);
      font-weight: normal;

      margin: 0 0 10px;

      color: $green;
    }
    p {
      font-size: em(18, 16);

      margin: 0;
    }
    ul {
      font-size: em(18, 16);

      text-align: left;
      a {
        font-weight: bold;
      }
      li {
        position: relative;

        margin: 0;
        padding: 5px 5px 5px 30px;
        &:before {
          position: absolute;
          top: 11px;
          left: 2px;

          display: block;

          color: $orange;

          @extend .fa;
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
        &:last-child {
          &:before {
            content: '';
          }
        }
      }
    }
  }
}



















@import 'import/print';
