@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';
@import 'font_roboto';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  height: 55px;

  background-color: #fdfdfd;
  .logo {
    position: absolute;
    top: 5px;
    left: 8px;

    display: block;

    width: 192px;
    height: 47px;
    img {
      max-width: 100%;
    }
  }
  nav {
    position: absolute;
    left: 300px;

    width: 670px;
    padding-top: 20px;
    ul {
      display: block;

      width: 100%;
      li {
        display: inline-block;

        width: 16%;

        @extend .justify-child;
        a {
          font-size: 16px;

          display: block;

          text-align: center;
          text-decoration: none;

          color: $base-font-color;
        }
        &.current {
          a {
            font-weight: bold;

            text-decoration: underline;

            color: $blue;
          }
        }
      }
    }
  }
  .phone-block {
    position: absolute;
    top: 5px;
    right: 5px;

    text-align: right;
    ul,
    li {
      margin: 0;
      padding: 0;
    }
    a {
      font-size: em(16,16);
      line-height: .95;

      display: block;

      text-decoration: none;

      color: $black;
      &:hover {
        color: $blue;
      }
    }
    .recall {
      font-size: em(14, 16);
      font-weight: bold;

      padding-right: 5px;

      text-decoration: underline;

      color: $blue;
      &:hover {
        text-decoration: none;

        color: $black;
      }
    }
  }
}
.btn {
  line-height: normal;

  position: relative;

  display: inline-block;

  width: 100%;
  height: 64px;
  padding: 16px 20px;

  cursor: pointer;
  text-align: center;
  letter-spacing: .02em;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.3), 0 1px 0 0 #ffe278 inset, 0 0 0 10px rgba(0,0,0,.1);
  text-shadow: 0 1px 0 #bb4b05;
}
.btn-orange {
  color: #fff;
  border: 1px solid #e09e10;
  background: #f7a002;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: linear-gradient(to bottom, #f7cf02 10%,#fe7201 100%);
}
form {
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  input {
    font-size: em(17, 16);

    width: 100%;
    margin-bottom: 10px;

    color: #fff;
    color: #bbb;
    border: 1px solid #dedede;
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
  .btn {
    width: 270px;
    margin-bottom: 0;
  }
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}
.block-first {
  height: 750px;

  background-image: url(../img/block-first.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .block-first-heading {
    position: absolute;
    top: 180px;
    left: 300px;

    width: 830px;
    span {
      font-size: em(40, 16);
      font-weight: $ebold;
      line-height: 1.1;

      display: block;

      text-align: left;
      text-transform: uppercase;

      color: $blue;
      &:nth-child(2) {
        color: $violet;
      }
      &:last-child {
        padding-right: 160px;

        text-align: right;
      }
    }
  }
  .block-first-content {
    line-height: 1.5;

    position: absolute;
    top: 480px;
    left: 340px;

    width: 260px;

    text-align: right;

    color: #fff;
    .white,
    .violet {
      font-weight: bold;
    }
    .violet {
      color: $violet;
    }
  }
  .order-form {
    position: absolute;
    top: 405px;
    left: 810px;

    width: 355px;
    height: 300px;
    padding-top: 5px;

    text-align: center;

    background-color: rgba(255, 255, 255, .8);
    h5 {
      font-size: em(35,16);
      font-weight: $ebold;

      text-align: center;

      color: $blue;
    }
    h6 {
      font-size: em(19, 16);
      font-weight: bold;

      margin-bottom: 5px;

      color: $violet;
    }
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}

@import 'import/print';
